<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/pavanhalde21/PySpark_lecture_files/blob/main/Questions_01/to_solve_garage_sql_questions_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Garage Data System – SQL Questions
# This notebook contains 60 SQL practice questions.

In [1]:
# Cell 1: Install necessary libraries
!pip install pyspark num2words --quiet
!pip install num2words

  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.5/163.5 kB 2.9 MB/s eta 0:00:00
  Building wheel for docopt (setup.py) ... done
Requirement already satisfied: num2words in /usr/local/lib/python3.12/dist-packages (0.5.14)
Requirement already satisfied: docopt>=0.6.2 in /usr/local/lib/python3.12/dist-packages (from num2words) (0.6.2)

In [2]:

# Cell 2: Create dummy CSV files for the analysis
%%writefile customer_table.csv
cid,cname,cadd,contact,creditdays,date,gender
1001,"cyona blake",NEW YORK,12345684,20,20-JAN-11,female
1002,"JOHN SMITH",NEW JERSI,1341684,20,21-FEB-11,male
1003,"JORDEN WOOD",PRAG,1805184,20,22-MAR-11,male
1004,CHRISTANA,MANHATTON,1125684,31,23-APR-13,female
1005,"TOM HILL",LONDON,1239284,10,25-JUN-15,male
1006,"KAMILA JOSEF",PRAISE,124568,9,28-JUL-11,female
1007,"ANDRU SYMON",TEXAS,125654,15,01-APR-16,male
1008,"SANJU SAMSUNG",NEW YORK,12346341,4,20-JAN-16,male

Writing customer_table.csv

In [3]:
%%writefile service_detail_table.csv
sid,cid,eid,spid,type_veh,veh_no,typ_ser,ser_date,qty,sp_rate,sp_amt,sp_g,ser_amt,comm,total
6001,1001,3001,4001,TWO WHEELER,MH15CA3228,TUBE DAMAGED,02-JAN-11,1.0,250,250,35,50,0,335
6002,1002,3002,4002,TWO WHEELER,MH16U5713,FULL SERVICING,04-MAR-11,1.0,400,400,52,300,50,752
6003,1003,3004,4005,TWO WHEELER,MH12PQ1313,CLUTCH WIRE,22-AUG-11,1.0,129,129,0,10,0,139
6004,1002,3002,4002,TWO WHEELER,MH16U5713,FULL SERVICING,05-MAY-11,1.0,400,400,52,300,50,752
6005,1004,3001,4009,TWO WHEELER,MH14PA335,COLOR,21-OCT-11,2.5,340,850,119,500,150,1469
6006,1006,3001,4009,TWO WHEELER,MH12WE334,COLOR,01-DEC-11,2.5,340,850,119,500,150,1469
6007,1007,3001,4001,FOUR WHEELER,MH17BB1345,TUBE DAMAGED,01-JAN-12,1.0,250,250,35,150,0,435

Writing service_detail_table.csv

In [4]:
%%writefile employee_table.csv
eid,ename,ejob,eadd,econtact,esal,edoj,edol
3001,"STEVEN KING",PAINTER,NEW YORK,10367454,1200,01-JAN-08,
3002,"DAVID AUSTIN",FITTER,MANAHTON,10367434,1100,19-AUG-10,
3003,"BRUCE ERENST",MECHANIC,NEW JERCY,10367264,2200,08-SEP-10,
3004,"LUIS POP",MECHANIC,NEW JERCY,10367264,1700,19-OCT-19,06-SEP-10
3005,"SHERI GOMES",FITTER,PARIS,10327264,1000,19-OCT-09,01-AUG-10
3000,"JAMES PHILIP",FITTER,PARIS,10322264,,01-JAN-08,

Writing employee_table.csv

In [5]:
%%writefile sparepart_table.csv
spid,spname,sprate,spunit
4001,TWO WHEELER TUBE,250,NOS
4002,TWO WHEELER ENGINE OIL,400,LTRS
4003,FOUR WHEELER ENGINE OIL,5000,LTRS
4004,TWO WHEELER CARBORATOR,680,NOS
4005,TWO WHEELER CLUTCH WIRE,129,MTRS
4006,TWO WHEELER TAIIL LIGHT,100,NOS
4007,TWO WHEELER INDICATORS,150,NOS
4008,FOUR WHEELER GASKIT,1340,NOS
4009,WHITE COLOUR,340,LTRS
4010,BLACK COLOUR,240,LTRS
4011,TWO WHEELER SIDE MIRROR,250,NOS
4012,FOUR WHEELER SIDE MIRROR,450,NOS
4013,TWO WHEELER SHOCKUP,1320,PAIR
4014,FOUR WHEELER BUMPER,6000,NOS
4015,FOUR WHEELER FRONT GLASS,7000,PCS

Writing sparepart_table.csv

In [6]:
%%writefile purchase_table.csv
pid,vid,spid,pqty,sprate,spgst,pdate,transcost,total,rcv_eid
5001,2001,4001,10,250,350.0,01-JAN-11,1300,4150.0,3001
5002,2002,4002,4,400,288.0,02-MAR-11,100,1988.0,3001
5003,2003,4004,8,680,761.6,12-JUN-11,50,6251.6,3003
5004,2004,4005,10,129,154.8,22-AUG-11,125,1569.8,3004
5005,2005,4006,20,100,300.0,07-SEP-11,20,2320.0,3003
5006,2006,4007,30,150,630.0,11-OCT-11,60,5190.0,3000
5007,2001,4003,20,5000,14000.0,07-SEP-11,1000,115000.0,3000
5008,2006,4005,1,129,15.48,12-OCT-11,50,194.48,3005
5009,2006,4005,1,129,15.48,15-OCT-11,50,194.48,3005
5010,2006,4009,5,340,238.0,20-OCT-11,0,1938.0,3005

Writing purchase_table.csv

In [7]:
%%writefile vendor_table.csv
vid,vname,vadd,vcontact,vcreditdays,vdate
2001,"KIRAN PATIL",PUNE,20535535,20,20-JAN-10
2002,"PRAKASH JAIN",MUNBAI,2063564,10,05-NOV-11
2003,"SWAPNIL THETE",NASHIK,25355352,15,18-MAR-10
2004,"AMOL SHENDE",SATARA,23674776,18,07-APR-15
2005,"KARAN SINTRE",BULDHANA,256756,30,22-APR-09
2006,"RAM KULKARNI",OSMANABAD,20367454,21,09-JUL-10

Writing vendor_table.csv

In [8]:
# =====================================================================
# Garage Data System: Dual PySpark & SQL Analysis
# =====================================================================

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import StringType
from num2words import num2words  # You may need to run: pip install num2words

# ---------------------------------------------------------------------
# 1. Spark Session and Data Loading
# ---------------------------------------------------------------------
spark = SparkSession.builder.appName("GarageAnalysis").getOrCreate()

# Load data into DataFrames (expects CSV files in the working directory)
customer_df = spark.read.csv("customer_table.csv", header=True, inferSchema=True)
ser_det_df = spark.read.csv("service_detail_table.csv", header=True, inferSchema=True)
employee_df = spark.read.csv("employee_table.csv", header=True, inferSchema=True)
sparepart_df = spark.read.csv("sparepart_table.csv", header=True, inferSchema=True)
purchase_df = spark.read.csv("purchase_table.csv", header=True, inferSchema=True)
vendor_df = spark.read.csv("vendor_table.csv", header=True, inferSchema=True)

# ---------------------------------------------------------------------
# 2. Create Temporary Views for Spark SQL
# ---------------------------------------------------------------------
customer_df.createOrReplaceTempView("customer_table")
ser_det_df.createOrReplaceTempView("service_detail_table")
employee_df.createOrReplaceTempView("employee_table")
sparepart_df.createOrReplaceTempView("sparepart_table")
purchase_df.createOrReplaceTempView("purchase_table")
vendor_df.createOrReplaceTempView("vendor_table")

In [9]:
print("customer_table")
customer_df.show(truncate=False)
print("service_detail_table")
ser_det_df.show(truncate=False)
print("employee_table")
employee_df.show(truncate=False)
print("sparepart_table")
sparepart_df.show(truncate=False)
print("purchase_table")
purchase_df.show(truncate=False)
print("vendor_table")
vendor_df.show(truncate=False)

customer_table
+----+-------------+---------+--------+----------+---------+------+
|cid |cname        |cadd     |contact |creditdays|date     |gender|
+----+-------------+---------+--------+----------+---------+------+
|1001|cyona blake  |NEW YORK |12345684|20        |20-JAN-11|female|
|1002|JOHN SMITH   |NEW JERSI|1341684 |20        |21-FEB-11|male  |
|1003|JORDEN WOOD  |PRAG     |1805184 |20        |22-MAR-11|male  |
|1004|CHRISTANA    |MANHATTON|1125684 |31        |23-APR-13|female|
|1005|TOM HILL     |LONDON   |1239284 |10        |25-JUN-15|male  |
|1006|KAMILA JOSEF |PRAISE   |124568  |9         |28-JUL-11|female|
|1007|ANDRU SYMON  |TEXAS    |125654  |15        |01-APR-16|male  |
|1008|SANJU SAMSUNG|NEW YORK |12346341|4         |20-JAN-16|male  |
+----+-------------+---------+--------+----------+---------+------+

service_detail_table
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
|sid |cid |eid |spid|type_veh    |veh_no    |typ_ser       |ser_date |qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
|6001|1001|3001|4001|TWO WHEELER |MH15CA3228|TUBE DAMAGED  |02-JAN-11|1.0|250    |250   |35  |50     |0   |335  |
|6002|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|04-MAR-11|1.0|400    |400   |52  |300    |50  |752  |
|6003|1003|3004|4005|TWO WHEELER |MH12PQ1313|CLUTCH WIRE   |22-AUG-11|1.0|129    |129   |0   |10     |0   |139  |
|6004|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|05-MAY-11|1.0|400    |400   |52  |300    |50  |752  |
|6005|1004|3001|4009|TWO WHEELER |MH14PA335 |COLOR         |21-OCT-11|2.5|340    |850   |119 |500    |150 |1469 |
|6006|1006|3001|4009|TWO WHEELER |MH12WE334 |COLOR         |01-DEC-11|2.5|340    |850   |119 |500    |150 |1469 |
|6007|1007|3001|4001|FOUR WHEELER|MH17BB1345|TUBE DAMAGED  |01-JAN-12|1.0|250    |250   |35  |150    |0   |435  |
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+

employee_table
+----+------------+--------+---------+--------+----+---------+---------+
|eid |ename       |ejob    |eadd     |econtact|esal|edoj     |edol     |
+----+------------+--------+---------+--------+----+---------+---------+
|3001|STEVEN KING |PAINTER |NEW YORK |10367454|1200|01-JAN-08|NULL     |
|3002|DAVID AUSTIN|FITTER  |MANAHTON |10367434|1100|19-AUG-10|NULL     |
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|NULL     |
|3004|LUIS POP    |MECHANIC|NEW JERCY|10367264|1700|19-OCT-19|06-SEP-10|
|3005|SHERI GOMES |FITTER  |PARIS    |10327264|1000|19-OCT-09|01-AUG-10|
|3000|JAMES PHILIP|FITTER  |PARIS    |10322264|NULL|01-JAN-08|NULL     |
+----+------------+--------+---------+--------+----+---------+---------+

sparepart_table
+----+------------------------+------+------+
|spid|spname                  |sprate|spunit|
+----+------------------------+------+------+
|4001|TWO WHEELER TUBE        |250   |NOS   |
|4002|TWO WHEELER ENGINE OIL  |400   |LTRS  |
|4003|FOUR WHEELER ENGINE OIL |5000  |LTRS  |
|4004|TWO WHEELER CARBORATOR  |680   |NOS   |
|4005|TWO WHEELER CLUTCH WIRE |129   |MTRS  |
|4006|TWO WHEELER TAIIL LIGHT |100   |NOS   |
|4007|TWO WHEELER INDICATORS  |150   |NOS   |
|4008|FOUR WHEELER GASKIT     |1340  |NOS   |
|4009|WHITE COLOUR            |340   |LTRS  |
|4010|BLACK COLOUR            |240   |LTRS  |
|4011|TWO WHEELER SIDE MIRROR |250   |NOS   |
|4012|FOUR WHEELER SIDE MIRROR|450   |NOS   |
|4013|TWO WHEELER SHOCKUP     |1320  |PAIR  |
|4014|FOUR WHEELER BUMPER     |6000  |NOS   |
|4015|FOUR WHEELER FRONT GLASS|7000  |PCS   |
+----+------------------------+------+------+

purchase_table
+----+----+----+----+------+-------+---------+---------+--------+-------+
|pid |vid |spid|pqty|sprate|spgst  |pdate    |transcost|total   |rcv_eid|
+----+----+----+----+------+-------+---------+---------+--------+-------+
|5001|2001|4001|10  |250   |350.0  |01-JAN-11|1300     |4150.0  |3001   |
|5002|2002|4002|4   |400   |288.0  |02-MAR-11|100      |1988.0  |3001   |
|5003|2003|4004|8   |680   |761.6  |12-JUN-11|50       |6251.6  |3003   |
|5004|2004|4005|10  |129   |154.8  |22-AUG-11|125      |1569.8  |3004   |
|5005|2005|4006|20  |100   |300.0  |07-SEP-11|20       |2320.0  |3003   |
|5006|2006|4007|30  |150   |630.0  |11-OCT-11|60       |5190.0  |3000   |
|5007|2001|4003|20  |5000  |14000.0|07-SEP-11|1000     |115000.0|3000   |
|5008|2006|4005|1   |129   |15.48  |12-OCT-11|50       |194.48  |3005   |
|5009|2006|4005|1   |129   |15.48  |15-OCT-11|50       |194.48  |3005   |
|5010|2006|4009|5   |340   |238.0  |20-OCT-11|0        |1938.0  |3005   |
+----+----+----+----+------+-------+---------+---------+--------+-------+

vendor_table
+----+-------------+---------+--------+-----------+---------+
|vid |vname        |vadd     |vcontact|vcreditdays|vdate    |
+----+-------------+---------+--------+-----------+---------+
|2001|KIRAN PATIL  |PUNE     |20535535|20         |20-JAN-10|
|2002|PRAKASH JAIN |MUNBAI   |2063564 |10         |05-NOV-11|
|2003|SWAPNIL THETE|NASHIK   |25355352|15         |18-MAR-10|
|2004|AMOL SHENDE  |SATARA   |23674776|18         |07-APR-15|
|2005|KARAN SINTRE |BULDHANA |256756  |30         |22-APR-09|
|2006|RAM KULKARNI |OSMANABAD|20367454|21         |09-JUL-10|
+----+-------------+---------+--------+-----------+---------+

In [10]:
# Q.1: List all the customers serviced.
spark.sql("""
select ct.cid,ct.cname from customer_table as ct
join service_detail_table as sdt
on ct.cid = sdt.cid
group by ct.cid,ct.cname
order by ct.cid
""").show()

+----+------------+
| cid|       cname|
+----+------------+
|1001| cyona blake|
|1002|  JOHN SMITH|
|1003| JORDEN WOOD|
|1004|   CHRISTANA|
|1006|KAMILA JOSEF|
|1007| ANDRU SYMON|
+----+------------+

In [11]:
# Q.2: Customers who are not serviced.
spark.sql("""
SELECT ct.cid, ct.cname
FROM customer_table ct
LEFT ANTI JOIN service_detail_table sdt ON ct.cid = sdt.cid
""").show()

+----+-------------+
| cid|        cname|
+----+-------------+
|1005|     TOM HILL|
|1008|SANJU SAMSUNG|
+----+-------------+

In [12]:
# Q.3: Employees who have not received the commission.
spark.sql("""
SELECT DISTINCT et.ename
FROM employee_table et
JOIN service_detail_table sdt ON et.eid = sdt.eid
WHERE sdt.comm =0
""").show()

+-----------+
|      ename|
+-----------+
|   LUIS POP|
|STEVEN KING|
+-----------+

In [13]:
# Q.4: Name the employee who have maximum Commission.
spark.sql("""
SELECT et.ename, sdt.comm
FROM employee_table et
JOIN service_detail_table sdt ON et.eid = sdt.eid
ORDER BY sdt.comm DESC
LIMIT 1
""").show()

+-----------+----+
|      ename|comm|
+-----------+----+
|STEVEN KING| 150|
+-----------+----+

In [14]:
# Q.5: Show employee name and minimum commission amount received by an employee.
spark.sql("""
SELECT et.ename, sdt.comm
FROM employee_table et
JOIN service_detail_table sdt ON et.eid = sdt.eid
WHERE sdt.comm > 0
ORDER BY sdt.comm
LIMIT 1
""").show()

+------------+----+
|       ename|comm|
+------------+----+
|DAVID AUSTIN|  50|
+------------+----+

In [15]:
# Q.6: Display the Middle record from any table.
spark.sql("""
select * from sparepart_table
where spid = (select floor(avg(spid)) from sparepart_table)
""").show()

+----+-------------------+------+------+
|spid|             spname|sprate|spunit|
+----+-------------------+------+------+
|4008|FOUR WHEELER GASKIT|  1340|   NOS|
+----+-------------------+------+------+

In [16]:
# Q.6: Display the Middle record from any table using PySpark DataFrame operations.

spark.sql("""
SELECT *
FROM sparepart_table
WHERE spid = (SELECT CEIL(AVG(spid)) FROM sparepart_table)
""").show()

+----+-------------------+------+------+
|spid|             spname|sprate|spunit|
+----+-------------------+------+------+
|4008|FOUR WHEELER GASKIT|  1340|   NOS|
+----+-------------------+------+------+

In [17]:
# Q.7: Display last 4 records of any table.
spark.sql("""
select * from (select * from sparepart_table
order by spid desc
limit 4) as last_four_records
order by spid
""").show()

+----+--------------------+------+------+
|spid|              spname|sprate|spunit|
+----+--------------------+------+------+
|4012|FOUR WHEELER SIDE...|   450|   NOS|
|4013| TWO WHEELER SHOCKUP|  1320|  PAIR|
|4014| FOUR WHEELER BUMPER|  6000|   NOS|
|4015|FOUR WHEELER FRON...|  7000|   PCS|
+----+--------------------+------+------+

In [18]:
# Q.8: Count the number of records without count function from any table.
spark.sql("""
select SUM(1) from sparepart_table

""").show()

+------+
|sum(1)|
+------+
|    15|
+------+

In [19]:
# Q.9:  Show unique records from "Ser_det" table on cid.

In [20]:
# Q.10: Show the name of Customer who have paid maximum amount.

In [21]:
# Q.11: Display Employees who are not currently working.

In [22]:
# Q.12: How many customers serviced their two wheelers.

In [23]:
# Q.13: List the Purchased Items which are used for Customer Service with Unit of that Item.

In [24]:
# Q.14: Customers who have Colored their vehicles.

In [25]:
# Q.15: Find the annual income of each employee inclusive of Commission.

In [26]:
# Q.16: Vendor Names who provides the engine oil.

In [27]:
# Q.17: Total Cost to purchase the Color and name the color purchased.

In [28]:
# Q.18: Purchased Items which are not used in "Ser_det".

In [29]:
# Q.19: Spare Parts Not Purchased but existing in Sparepart.

In [30]:
# Q.20: Calculate the Profit/Loss of the Firm.

In [31]:
# Q.21: Specify the names of customers who have serviced their vehicles more than one time.

In [32]:
# Q.22: List the Items purchased from vendors locationwise.

In [33]:
# Q.23: Display count of two wheeler and four wheeler from ser_details.

In [34]:
# Q.24: Display name of customers who paid highest SPGST and for which item.

In [35]:
# Q.25: Display vendors name who have charged highest SPGST rate for which item.

In [36]:
# Q.26: List name of item and employee name who have received item.

In [37]:
# Q.27: Display Customer Name, Vehicle Number, Item Used, Purchase Date, Vendor, and Location.

In [38]:
# Q.28: Who belong this vehicle 'MH14PA335'? Display the customer name.

In [39]:
# Q.29: Display the name of customer from New York and their vehicle service date.

In [40]:
# Q.30: From whom we have purchased items having maximum cost?

In [41]:
# Q.31: Display employees who are not 'Mechanic' and have done services.

In [42]:
# Q.32: Display jobs with more than two employees.

In [43]:
# Q.33: Display details of employees who did a service and rank them by number of services.

In [44]:
# Q.34: Display painter/fitter employees who provided a service and total service count for each.

In [45]:
# Q.35: Display employee salary and provide a Grade based on salary.

In [46]:
# Q.36: Display the 4th record of emp table without using group by and rowid.

In [47]:
# Q.37: Provide a commission 100 to employees who are not earning any commission.

In [48]:
# Q.38: Write a query that totals no. of services for each day and place the results in descending order.

In [49]:
# Q.39: Display the service details of those customer who belong from same city.

In [50]:
# Q.40: Write a query join customers table to itself to find all pairs of customers serviced by a single employee.

In [51]:
# Q.41: List each service number followed by name of the customer who made that service.

In [52]:
# Q.42: Write a query to get details of employee and provide rating on basis of maximum services provide by employee. (A,B,C,D).

In [53]:
# Q.43: Write a query to get maximum service amount of each customer with their customer details.

In [54]:
# Q.44: Get the details of customers with his total no of services.

In [55]:
# Q.45: From which location sparepart purchased with highest cost?

In [56]:
# Q.46: Get the details of employee with their service details who has salary is null.

In [57]:
# Q.47: Find the sum of purchase location wise.

In [58]:
# Q.48: Write a query sum of purchase amount in word location wise?

In [59]:
# Q.49: Has the customer who has spent the largest amount money has been given highest rating.

In [60]:
# Q.50: Select the total amount in service for each customer for which the total is greater than the amount of the largest service amount in the table.

In [61]:
# Q.51: List the customer name and sparepart name used for their vehicle and vehicle type.

In [62]:
# Q.52: Write a query to get spname, ename, cname, quantity, rate, service amount for record exist in service table.

In [63]:
# Q.53: Specify the vehicles owners whose tube damaged.

In [64]:
# Q.54: Specify the details who have taken full service.

In [65]:
# Q.55: Select the employees who have not worked yet and left the job.

In [66]:
# Q.56: Select employee who have worked first ever.

In [67]:
# Q.57: Display all records falling in odd date.

In [68]:
# Q.58: Display all records falling in even date.

In [69]:
# Q.59: Display the vendors whose material is not yet used.

In [70]:
# Q.60: Difference between purchase date and used date of spare part.